<html lang="en">
<head>
<style>{{ page.url | webcGetCss }}</style>
<script type="module">{{ page.url |  webcGetJs }}</script>
</head>
<body>{% renderTemplate "webc" %}<twitter-share></twitter-share>{% endrenderTemplate %}
{{ content }}
</body>
</html>