<html lang="en">
<head>
<style>{% getBundle "css" %}</style>
<script type="module">{% getBundle "js" %}</script>
</head>
<body>{% renderTemplate "webc" %}<twitter-share></twitter-share>{% endrenderTemplate %}
{{ content }}
</body>
</html>